body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7c4;
}
.body-container {
  /* padding: 30px; */
}

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
font-family: "Roboto", sans-serif;
font-family: "Montserrat", sans-serif; */

header,
main,
.corporate-team,
.advert,
.advert-2,
.advert-3,
.aside-container,
.testimonial,
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ff6b6b, #8e0e00);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.082);
  border-radius: 20px;
  width: 60%;
  height: 50px;
  padding: 18px;
}
.logo-container {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 35px;
}

.nav-links a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: rgb(255, 129, 129);
}

.header-button > button {
  padding: 18px;
  border-radius: 15px;
  background-color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}
.header-button > button:hover {
  background-color: #ff8e8e41;
  color: #fff;
}

/* Media query for header section */
@media (max-width: 1220px) {
  .header-button > button {
    padding: 12px;
    border-radius: 8px;
    font-size: 13px;
  }
  .nav-links a {
    font-size: 13px;
  }
  .logo-container > img {
    height: 30px;
  }
}

@media (max-width: 1000px) {
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 95%;
    height: 25px;
  }

  div.header-button {
    display: none;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }
}

@media (max-width: 500px) {
  body {
    padding: 0;
    margin-top: 0;
  }
  .header-container {
    width: 100%;
    height: 25px;
    border-radius: 8px;
  }
  .logo-container > img {
    height: 30px;
  }
}

/* Header Section Done 🚩*/

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 100px;
}

.hero-img {
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.096);
}

.hero-section-text > p:nth-child(1) {
  display: inline;
  padding: 9px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: #e01903;
}
.hero-section-text > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 15px;
  line-height: 50px;
}

.hero-section-text > p:nth-child(3) {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: rgb(158, 158, 158);
  line-height: 30px;
  margin: 0;
}

.hero-section-text > div:nth-child(4) > button {
  padding: 18px;
  border-radius: 25px;
  background-color: #d51709;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 25px;
  margin-bottom: 18px;
}

.hero-section-text > div:nth-child(4) > button:hover {
  background-color: #f52d1fcc;
}

.hero-section-text > div.rank > p:nth-child(1) {
  display: inline;
  padding: 9px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  color: rgb(158, 158, 158);
  font-size: 15px;
  padding-left: 0;
}

.hero-section-text > div.rank > p:nth-child(2) {
  font-size: 25px;
  color: gold;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Responsive Hero Section */
@media (max-width: 1185px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
  .hero-section-text > h1 {
    font-size: 28px;
  }
  .hero-section-text > p:nth-child(3) {
    font-size: 15px;
  }
  .hero-section-text > div:nth-child(4) > button {
    padding: 14px;
    font-size: 13px;
  }
  .hero-section-text > div.rank > p:nth-child(2) {
    font-size: 18px;
  }
}

@media (max-width: 1085px) {
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
  }
  .hero-section-text,
  .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hero-section-text > h1 {
    font-size: 42px;
    text-align: center;
    line-height: 60px;
  }
  .hero-section-text > p:nth-child(3) {
    font-size: 20px;
    text-align: center;
  }
  .hero-section-text > div:nth-child(4) > button {
    padding: 16px;
    font-size: 15px;
  }
  .hero-section-text > div.rank > p:nth-child(2) {
    font-size: 20px;
  }
  body > div > main > div > div.hero-img > img {
    max-width: 9000px;
  }
}

@media (max-width: 550px) {
  .hero-container {
    gap: 40px;
  }
  .hero-section-text > h1 {
    font-size: 30px;
    text-align: center;
    line-height: 38px;
  }
  .hero-section-text > p:nth-child(3) {
    font-size: 18px;
    text-align: center;
  }
  .hero-section-text > div:nth-child(4) > button {
    padding: 16px;
    font-size: 15px;
  }
  .hero-section-text > div.rank > p:nth-child(2) {
    font-size: 20px;
  }
  .hero-img > img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
}

@media (max-width: 350px) {
  .hero-section-text > h1 {
    font-size: 22px;
  }
  .hero-section-text > p:nth-child(3) {
    font-size: 15px;
    letter-spacing: normal;
    text-align: center;
  }
  .hero-section-text > p:nth-child(1) {
    font-size: 10px;
  }
  .hero-section-text > div.rank > p:nth-child(1) {
    text-align: center;
  }
}

@media (max-width: 245px) {
  body > div > main > div > div.hero-section-text > p:nth-child(1) {
    text-align: center;
  }
  .hero-section-text > div:nth-child(4) > button {
    font-size: 10px;
  }
  .hero-section-text > div.rank > p:nth-child(1) {
    text-align: center;
  }
  .hero-section-text > div.rank > p:nth-child(2) {
    font-size: 14px;
    text-align: center;
  }
}
/* Main Section Done 🚩*/

body > div > article {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(214, 214, 214, 0.144);
  margin-top: 110px;
  height: 80px;
}

body > div > article > section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.bank-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

article > section > div > p {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: rgb(158, 158, 158);
  line-height: 30px;
  margin: 0;
}

/* Responsive */
@media (max-width: 1180px) {
  body > div > article {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  body > div > article > section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 650px) {
  .bank-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .bank-images > img:nth-child(1),
  .bank-images > img:nth-child(2),
  .bank-images > img:nth-child(3) {
    height: 20px;
  }
}

@media (max-width: 430px) {
  article > section > div:nth-child(1) > p {
    font-size: 14px;
  }

  body > div > article > section {
    display: flex;
    flex-direction: column;
  }

  .bank-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  body > div > article > section > div:nth-child(1) > p {
    line-height: 20px;
  }
}

/* Companies Article Section Done 🚩*/

.advert-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 130px;
}

.comment-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-section {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.second-section {
  display: flex;
  align-items: center;
  gap: 48px;
  margin-top: 18px;
  margin-bottom: 0;
}

div > div:nth-child(2) > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 33px;
  font-weight: 300;
  line-height: 45px;
  margin: 0;
}

div > div:nth-child(2) > p {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: rgb(158, 158, 158);
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 0;
}

div > div:nth-child(2) > button {
  padding: 17px;
  border-radius: 15px;
  background-color: #d51709;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  cursor: pointer;
  margin-top: 25px;
  margin-top: 20px;
  margin-bottom: 0;
  transition: 0.3s ease;
}

div > div:nth-child(2) > button:hover {
  background-color: #f52d1fcc;
}

div > div:nth-child(2) > div:nth-child(4) > img {
  margin-top: 30px;
}

div > div:nth-child(1) > img {
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
}

div:nth-child(2) > div.first-section > h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
}

div > div:nth-child(2) > div.first-section > p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: rgb(158, 158, 158);
  line-height: 18px;
  margin: 0;
}

div > div:nth-child(2) > div.second-section > h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
}

div > div:nth-child(2) > div.second-section > p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(158, 158, 158);
  line-height: 18px;
  margin: 0;
}

/* Responsive */

@media (max-width: 1175px) {
  div > div:nth-child(2) > h2 {
    font-size: 23px;
  }
  div > div:nth-child(2) > p {
    font-size: 15px;
  }
}

@media (max-width: 1060px) {
  .advert-section {
    flex-direction: column;
  }

  div > div:nth-child(2) {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .first-section {
    flex-direction: column;
  }

  .second-section {
    flex-direction: column;
    gap: 25px;
  }
  .stretch-img img {
    height: 20px;
  }

  div > div:nth-child(2) > h2 {
    line-height: 30px;
  }
  div > div:nth-child(2) > p {
    line-height: 18px;
  }

  .advert > div > div:nth-child(1) > img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
  }
}

@media (max-width: 350px) {
  div > div:nth-child(2) > h2 {
    font-size: 18px;
  }
  div > div:nth-child(2) > p {
    font-size: 12px;
  }

  div > div:nth-child(2) > div.first-section > p {
    font-size: 10px;
  }
  div > div:nth-child(2) > div.second-section > p {
    font-size: 10px;
  }
}

@media (max-width: 315px) {
  div > div:nth-child(2) > h2 {
    font-size: 13px;
    text-align: center;
    line-height: 20px;
  }
  div > div:nth-child(2) > p {
    font-size: 13px;
  }

  body > div > section > div > div:nth-child(1) {
    max-width: 200px;
  }
  .advert-section {
    padding: 18px;
  }
  .stretch-img img {
    height: 10px;
  }
}
/* Advert Section 1 Done 🚩*/

.advert-2 {
  margin-top: 150px;
  background: linear-gradient(to bottom, #aa1100, #ad2323);
}

.advert-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding: 50px;
}

.advert-textarea {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.benefit-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.benefit-section-1 {
  display: flex;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to bottom, #b62010, #d81010);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.089);
  margin-top: 22px;
  padding: 10px 0 10px 15px;
  border-radius: 9px;
}

.advert-2 > div > div.advert-textarea > h2 {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.advert-2 > div > div.advert-textarea > p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgb(236, 236, 236);
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 0;
}
.benefit-section-1 > div > h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.advert-textarea > div > div.benefit-section-1 > div > p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #fff;
  margin-top: 2px;
  margin-bottom: 0;
}

.advert-textarea > div > div:nth-child(2) > p,
.advert-textarea > div > div:nth-child(1) > p {
  font-size: 20px;
  padding: 12px;
  color: #fff;
  font-size: 28px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 50%;
  margin: 16px 0 16px 0;
}

.advert-2-img {
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
}

/* Responsive */
@media (max-width: 1145px) {
  .advert-2 > div > div.advert-textarea > h2 {
    font-size: 25px;
  }

  .advert-2 > div > div.advert-textarea > p {
    font-size: 13px;
  }

  .benefit-section-1 > div > h3 {
    font-size: 14px;
  }

  .advert-textarea > div > div.benefit-section-1 > div > p {
    font-size: 12px;
  }

  .advert-2-img {
    max-height: 400px;
  }
}

@media (max-width: 960px) {
  .advert-section-2 {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .advert-2 > div > div.advert-textarea > h2 {
    font-size: 28px;
    text-align: center;
  }

  .advert-2 > div > div.advert-textarea > p {
    font-size: 16px;
    text-align: center;
  }
  .benefit-section-1 > div > h3 {
    font-size: 17px;
  }

  .advert-textarea > div > div.benefit-section-1 > div > p {
    font-size: 14px;
    text-align: left;
  }
}
@media (max-width: 560px) {
  .benefit-section-1 {
    flex-direction: column;
    gap: 0;
    padding: 20px;
  }

  .advert-textarea > div > div:nth-child(2) > p,
  .advert-textarea > div > div:nth-child(1) > p {
    text-align: center;
  }

  .benefit-section-1 > div > h3 {
    text-align: center;
  }

  .advert-textarea > div > div.benefit-section-1 > div > p {
    text-align: center;
  }

  .advert-2 > div > div:nth-child(2) > img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .advert-2 {
    margin-top: 50px;
  }
}

@media (max-width: 350px) {
  .advert-2 > div > div.advert-textarea > h2 {
    font-size: 18px;
  }

  .advert-2 > div > div.advert-textarea > p {
    font-size: 15px;
  }

  .benefit-section-1 > div > h3 {
    font-size: 14px;
  }

  .advert-textarea > div > div.benefit-section-1 > div > p {
    font-size: 12px;
  }
}

@media (max-width: 280px) {
  .advert-2 > div > div.advert-textarea > h2 {
    font-size: 14px;
  }

  .advert-2 > div > div.advert-textarea > p {
    font-size: 12px;
    line-height: 18px;
  }

  .benefit-section-1 > div > h3 {
    font-size: 12px;
  }

  .advert-textarea > div > div.benefit-section-1 > div > p {
    font-size: 10px;
  }
  .advert-2 > div > div:nth-child(2) > img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .advert-textarea > div > div:nth-child(2) > p,
  .advert-textarea > div > div:nth-child(1) > p {
    font-size: 15px;
  }

  .benefit-section-1 {
    height: auto;
    padding: 10px;
  }
}

/* Advert Section 2 Done 🚩*/
.advert-3 {
  margin-top: 130px;
}

.advert-section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

/* Responsive  */

@media (max-width: 1085px) {
  .advert-section-3 {
    flex-direction: column;
    gap: 50px;
  }

  .advert-3 > div > div:nth-child(2) > h2 {
    font-size: 30px;
    text-align: center;
  }

  .advert-3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .advert-3 > div > div:nth-child(2) > p {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .advert-3 > div > div:nth-child(2) > h2 {
    line-height: 35px;
  }

  .advert-3 > div > div:nth-child(2) > p {
    line-height: 30px;
  }

  .advert-3 > div > div:nth-child(1) > img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }
}

@media (max-width: 380px) {
  .advert-3 {
    margin-top: 50px;
  }
}

@media (max-width: 380px) {
  .advert-3 > div > div:nth-child(2) > h2 {
    font-size: 22px;
  }

  .advert-3 > div > div:nth-child(2) > p {
    font-size: 15px;
  }
}
/* Advert Section 3 Done 🚩*/
.aside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.aside-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  width: 1200px;
}

.first-aside {
  border-top: 2px solid #f32a2a;
}
.second-aside,
.third-aside,
.fourth-aside,
.fifth-aside {
  border-top: 2px solid rgb(211, 211, 211);
}

.first-aside > h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: gray;
  margin: 10px 0 0 0;
}

.first-aside > h3 {
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000;
  margin: 15px 0 0 0;
}

.first-aside > p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: gray;
  line-height: 20px;
  margin: 10px 0 0 0;
}

.second-aside > h4,
.third-aside > h4,
.fourth-aside > h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: gray;
  margin: 10px 0 0 0;
}

.second-aside > h3,
.third-aside > h3,
.fourth-aside > h3 {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #666666;
  margin: 15px 0 0 0;
}

/* Responsive */

@media (max-width: 1230px) {
  .aside-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .second-aside > h3,
  .second-aside > h4 {
    text-align: left;
  }
}

@media (max-width: 630px) {
  .aside-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

@media (max-width: 380px) {
  .aside-container {
    margin-top: 30px;
  }
}
/* Aside Section Done 🚩*/

.testimonial {
  display: grid;
  margin-top: 100px;
  padding: 30px;
  background-color: rgb(240, 240, 240);
}
.testimonial > div > h6 {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000;
  margin: 0;
  grid-column: span 4;
  text-align: center;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.testimonial > div.testimonial-grid > div > div > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: none;
}

.testimonial-profile {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

body > div > section.testimonial > div > div {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.082);
  padding: 12px;
}

.testimonial > div > div > div > div > h6 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin: 0 0 5px 0;
}

.testimonial > div > div > div > div > p {
  color: gold;
  margin: 0;
}

.testimonial > div > div > p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: rgb(158, 158, 158);
  line-height: 25px;
  margin-top: 15px;
}
.testimonial-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.testimonial-btn > button {
  padding: 18px;
  border-radius: 10px;
  background-color: #d51709;
  color: #fff;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}

.testimonial-btn > button:hover {
  background-color: #f52d1fcc;
}

/* Responsive */

@media (max-width: 1200px) {
  .testimonial-grid {
    display: grid;
  }
  .testimonial > div > div:nth-child(2),
  .testimonial > div > div:nth-child(4),
  .testimonial > div > div:nth-child(6),
  .testimonial > div > div:nth-child(8) {
    grid-column: 1 / 3;
  }

  .testimonial > div > div:nth-child(3),
  .testimonial > div > div:nth-child(5),
  .testimonial > div > div:nth-child(7),
  .testimonial > div > div:nth-child(9) {
    grid-column: 3 / 5;
  }
}

@media (max-width: 580px) {
  .testimonial-grid {
    display: grid;
  }
  .testimonial > div > div:nth-child(2),
  .testimonial > div > div:nth-child(4),
  .testimonial > div > div:nth-child(6),
  .testimonial > div > div:nth-child(8),
  .testimonial > div > div:nth-child(3),
  .testimonial > div > div:nth-child(5),
  .testimonial > div > div:nth-child(7),
  .testimonial > div > div:nth-child(9) {
    grid-column: 1 / 5;
  }
  .testimonial > div > div > p {
    text-align: left;
  }
  .testimonial > div > h6 {
    font-size: 25px;
  }
}

@media (max-width: 390px) {
  .testimonial {
    margin-top: 30px;
  }
  .testimonial > div > div > p {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 300px) {
  .testimonial-profile {
    gap: 10px;
  }

  .testimonial > div > h6 {
    font-size: 18px;
  }

  .testimonial > div > div > div > div > h6 {
    font-size: 13px;
  }

  .testimonial > div > div > p {
    font-size: 10px;
  }

  .testimonial > div > div > div > div > p {
    font-size: 8px;
  }

  .testimonial > div.testimonial-grid > div > div > img {
    width: auto;
  }

  .testimonial-profile {
    flex-direction: column;
  }
  .testimonial-btn > button {
    padding: 12px;
    font-size: 12px;
  }
}
/* Testimonial Section Done 🚩*/

body > div > article.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #f7f7f7c4;

  padding: 0px;
  margin-top: 60px;
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.banner-img > img {
  width: 100%;
  height: auto;
}

/* Responsive */

@media (max-width: 1000px) {
  .banner-img > img {
    width: 100%;
    height: auto;
  }
  .banner-img {
    padding: 30px;
  }
}

@media (max-width: 600px) {
  .banner-img > img {
    width: 100%;
    height: auto;
  }

  .banner-img {
    padding: 0px;
  }
}

@media (max-width: 380px) {
  .banner-img > img {
    width: 100%;
    height: auto;
  }
}
/* Banner Section Done 🚩*/

footer {
  padding: 30px;
  background: linear-gradient(to bottom, #ff3838, #8e0e00);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

footer .footer-content > div > a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  margin: 0;
}

footer .footer-content > div > p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  margin: 5px 0 0 0;
}

.footer-icon {
  color: #fff;
  font-size: 25px;
  letter-spacing: 14px;
  margin-top: 15px;
  margin-right: 10px;
  transition: 0.3s ease;
}

.footer-icon:hover {
  color: rgb(255, 129, 129);
}

footer > div > div:nth-child(1) > div.logo-container > img {
  border-radius: 0px;
  box-shadow: none;
}

footer > div > div > h6 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 15px;
}

footer > div > div > li {
  list-style: none;
  margin-bottom: 16px;
}

footer > div > div > li > a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

footer > div > div > li > a:hover {
  color: rgb(255, 129, 129);
}

/* Responsive */

@media (max-width: 1000px) {
  footer {
    margin-top: 50px;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > div > div {
    text-align: center;
  }
}

@media (max-width: 200px) {
  footer > div > div > h6 {
    font-size: 17px;
    margin-top: 30px;
  }

  footer > div > div > li > a {
    font-size: 12px;
  }
}
/* Footer Section Done 🚩*/
